# OS and editors
.DS_Store
.idea

# Node
node_modules
/package-lock.json

# SvelteKit and Vite
/.svelte-kit
/build
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Environment
.env.*
!.env.example

# Python
__pycache__/
*.egg-info/
