h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 7px;
}

a {
  text-decoration: none;
  color: inherit;
}

.input-group + .input-group {
  margin-top: 0.66em;
}

.submit-button {
  background-color: var(--main-25);
  border: none;
  color: var(--derived-50);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 2px;
  cursor: pointer;
}

.error {
  color: var(--red);
}