:root {
	--main-95: hsl(210, 33%, 95%); /*original: #f9f9fb*/
	--main-94: hsl(210, 33%, 94%);
	--main-93: hsl(210, 33%, 93%);
	--main-92: hsl(210, 33%, 92%);
	--main-90: hsl(210, 33%, 90%); /*original: #ededed*/
	--main-80: hsl(210, 33%, 80%); /*original: #d9dee4*/
	--main-60: hsl(210, 33%, 60%);
	--main-50: hsl(210, 33%, 50%);
	--main-40: hsl(210, 33%, 40%); /*original: #366485*/
	--main-25: hsl(210, 33%, 25%); /*original: #2a3f54*/
	--main-50-shadow: hsla(210, 33%, 50%, 10%);
	--derived-60: hsl(210, 17%, 60%);
	--derived-50: hsl(210, 17%, 50%); /*original: #73879c*/
	--derived-43: hsl(210, 17%, 43%);
	--derived-40: hsl(210, 17%, 40%);
	--derived-30: hsl(210, 17%, 30%);
	--derived-20: hsl(210, 17%, 20%); /*original: #282f3c*/

	--background-color: var(--main-95);

	--red: hsl(9, 100%, 65%); /*original: #fd6348*/
	--orange: hsl(27, 85%, 65%);
	--yellow: hsl(45, 65%, 65%);
	--green: hsl(122, 40%, 52%); /*original: #54b657*/
	--green-blue: hsl(180, 65%, 45%);
	--blue: hsl(220, 85%, 65%);
	--purple: hsl(260, 85%, 75%);

	--gray-90: hsl(0, 0%, 90%);
	--gray-80: hsl(0, 0%, 80%);
	--gray-70: hsl(0, 0%, 70%);
	--gray-65: hsl(0, 0%, 65%);
	--gray-50: hsl(0, 0%, 50%);

	--graph-blue: #226ba3;
	--graph-red: #f0341f;
	--graph-yellow: #e9c429;
	--blue-accent: #2196f3;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--main-95);
	font-family: 'Raleway', Verdana, sans-serif;
	color: var(--derived-43);
	overflow-y: scroll;
}

h1 {
	font-size: 1.8rem;
	font-weight: 500;
}

h2 {
	font-size: 1.3rem;
	font-weight: 400;
	margin-bottom: 0.4em;
	margin-top: 1.2em;
}

.header-line + h2 {
	margin-top: 0.5em;
}

h3 {
	font-size: 0.97rem;
	margin-top: 0.8em;
	margin-bottom: 0.8rem;
}

p {
	margin-bottom: 1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	width: 100%;
}

.reset-button {
	background-color: inherit;
	color: inherit;
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 0;
}

.text-button {
	background-color: var(--derived-50);
	border: none;
	color: var(--main-95);
	padding: 0.6em 1.2em;
	margin: 0 15px;
	text-align: center;
	border-radius: 7px;
	font-size: 0.95rem;
	cursor: pointer;
}

.text-button:disabled {
	background-color: var(--gray-50);
	color: var(--main-95);
	cursor: default;
}

.submit-button {
	background-color: var(--main-25);
	border: none;
	color: var(--derived-50);
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	margin: 10px 2px;
	cursor: pointer;
}

.text {
	font-family: EB Garamond, serif;
	max-width: 800px;
	margin: auto;
	line-height: 1.5;
	text-align: justify;
	text-justify: inter-word;
	font-size: 1.15rem;
}

.text h1 {
	margin-bottom: 1.25rem;
}

.text h2 {
	margin-bottom: 1.1rem;
}

.text h3 {
	margin-bottom: 1rem;
}

.text p {
	margin-bottom: 1rem;
}

.text ul {
	padding-left: 40px;
	margin-bottom: 0.75rem;
}

.text ol {
	padding-left: 40px;
	margin-bottom: 0.75rem;
}

.text img {
	float: left;
	object-fit: cover;
	margin: 7px;
}

.text a {
	color: var(--main-25);
	text-decoration: underline;
}

.table-base {
	display: table;
	/* table-layout: fixed; */
	width: 100%;
	border-collapse: collapse;
	font-family: Open Sans, sans-serif;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.5rem;
}

.table-base thead {
	text-align: left;
}

.table-base thead th {
	padding: 0.75rem 1rem;
}

.table-base td {
	padding: 0.45rem 0.75rem;
}

.table-base thead tr {
	background-color: var(--derived-50);
	color: var(--main-95);
}

.table-base tbody {
	text-align: left;
}

.table-base tbody tr {
	border-bottom: thin solid var(--main-95);
}

.table-base tbody tr:first-of-type {
	border-top: 2px solid var(--derived-50);
}

.table-base tbody tr:last-of-type {
	border-bottom: 2px solid var(--derived-50);
}

.table-base tbody tr .table-bigger-line {
	height: 3.14rem;
	font-size: 2rem;
}

.table-base .crud-button {
	border: none;
	color: inherit;
	background-color: inherit;
	font-size: 1.2rem;
	cursor: pointer;
}

.table-base button + button {
	margin-left: 8px;
}

.table-spaced td {
	padding: 0.75rem 1rem;
}

.table-alternate-colors tbody tr:nth-child(even) {
	background-color: #f3f3f3;
}

.input-group + .input-group {
	margin-top: 0.66em;
}

@media only screen and (min-width: 992px) {
	.table-narrow {
		max-width: 550px;
	}
}

.on {
	color: var(--green);
}

.off {
	color: var(--red);
}

.deco {
	color: var(--main-60);
}

.hidden {
	color: transparent;
}

.error {
	color: var(--red);
}
